.table_container{
  position: relative;
  height: 100% !important;
  padding: 0 10px !important;
}
.input-with-select {
  padding: 0;
  margin: 0 !important;
  float: right;
}
.btnChange {
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.block{
  width: 300px;
  position: absolute;
  left: 20%;
}