.cp {
  cursor: pointer;
}
.w-400 {
  width: 400px;
}
.w-350 {
  width: 350px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-all-10 {
  margin: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.f-s-25 {
  font-size: 25px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-r-20 {
  margin-right: 20px;
}