.mainer {
  height: calc(100vh - 140px);
  width: 100%;
  position: relative;
  background-color: #fff;
  .left {
    position: absolute;
    left: 0;
    height: calc(100vh - 140px);
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    .left_div {
      transform: translatey(-50%);
      margin: 10px auto;
      .avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 0 auto;
        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      .p_name,
      .p_email,
      .unpdata_p{
        text-align: center;
      }
    }
  }
  .right {
    width: 75%;
    height: 100%;
    position: absolute;
    left: 25%;
    // right: 0;
    // overflow: scroll;
    padding: 10px 0 0 10px;
    
  }
}
.edu {
  display: flex;
  justify-content: space-between;
}
.edu_btn {
  display: flex;
  justify-content: space-between;
}
.el-tag {
  margin: 10px;
}
