.el-row {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 10px;
  }
}
.el-col {
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  // background: #d3dce6;
  border: 1px solid #ccc;
}
.grid-content {
  height: 340px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
